@import "bourbon";
// Fonts
$default-font: "nerislight";
$black-font: "nerisblack";
$semibold-font: "nerissemibold";
// Colors
$accent: #ffcb00;
$text-color: #434149;
$text-dark: #2f2c38;
$gray: #bdbdbd;
$gray-light: #a29f9e;
$gray-lighter: #f1f1f1;
